{+lint=all,noNS;}
{+warn=noDPI-SFESN;}
{+warn=noUII-L;}
{+warn=noMCFNF;}
{
    +lint=none;
    +file=/software/Synopsys-2024_x86_64/vcs/W-2024.09/etc/sva/rec_ltl_classes_package.svp;
}
{
    +lint=none;
    +file=../../hvl/common/rvfimon.v;
}
{
    +lint=none;
    +module=DW_mult_pipe;
}
{
    +lint=none;
    +module=DW_div;
}
{
    +lint=none;
    +module=DW02_mult;
}
{
    +lint=none;
    +module=DW_div_seq;
}
{
    +lint=none;
    +module=xpm_memory_base;
}
{
    +lint=none;
    +module=xpm_memory_sdpram;
}
{
    +lint=none;
    +module=xpm_memory_spram;
}
{
    +lint=none;
    +module=xpm_memory_sprom;
}
{
    +lint=none;
    +module=xpm_memory_tdpram;
}
{
    +lint=none;
    +module=xpm_memory_dpdistram;
}
{
    +lint=none;
    +module=xpm_memory_dprom;
}
