merge=tmerge;
xindex_select_method=resolution;
instance {top_tb.dut} {xpropOn};
module {DW_mult_pipe} {xpropOff};
module {DW_div} {xpropOff};
module {DW02_mult} {xpropOff};
module {DW_div_seq} {xpropOff};
module {bp_pht} {xpropOff};
module {xpm_memory_base} {xpropOff};
module {xpm_memory_sdpram} {xpropOff};
module {xpm_memory_spram} {xpropOff};
module {xpm_memory_sprom} {xpropOff};
module {xpm_memory_tdpram} {xpropOff};
module {xpm_memory_dpdistram} {xpropOff};
module {xpm_memory_dprom} {xpropOff};
